// ================================
//            MIXINS
// ================================


//Mixin for Media Queries
@mixin mq($break) {
    @if $break == $tablet {
      @media (min-width: $tablet) {
        @content;
      }
    }
  }


//Mixin for FlexBox
@mixin flexbox($disp: flex, $dir: null, $wrap: null, $just: null) {
  display: $disp;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $just;
}


